################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Jupyter Notebook
.ipynb_checkpoints/

# Miscellaneous
.DS_Store
/.vs/VSWorkspaceState.json

# Model Checkpoints
*.pt
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/cs4248_g14_mrc/v16/Browse.VC.db
/.vs/cs4248_g14_mrc/v16/.suo
